.btn-primary{
	background-color: rgb(80, 79, 79);
}

#services{
	background-color: rgb(34, 160, 192);
	color: white;
}

p{
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
}

#services img{
	max-width: 100%;
}

header.masthead {
    background-image: url("../img/blå.png");
}


